<h1>Pages#home</h1>
<p>Now is <%= Time.now %><p>

<%= link_to "Posts", posts_path %></br></br>
<%= link_to "Cars", cars_path %></br></br>
<%= link_to "Manufacturers", manufacturers_path %></br></br>
<%= link_to "Models", modells_path %></br></br>
<%= link_to "Events", events_path %></br></br>
